 @model List<ProyectoTaller6.Models.Producto>
    
@{
    ViewData["Title"] = "Categoria";
    var tipo = ViewBag.Tipo;
    var nombre = TempData["Nombre"];
var stock = TempData["Stock"];
var precio = TempData["Precio"];
}


<link rel="stylesheet" href="~/css/categoria.css" />

<!-- BOTON VOLVER -->
<a href="/Home/Inventario1" class="btn-volver">⬅</a>


<div class="contenedor">

  

<h1 class="titulo">@ViewBag.Tipo</h1>

<div class="contenedor">

@foreach (var p in Model)
{
    <div class="producto">
        <img src="~/images/@p.Imagen" />

        <p>@p.Nombre</p>
        <p>Stock: @p.Stock</p>
        <p>Precio: $@p.Precio</p>

        <div class="acciones">
            <a href="/Home/EditarProducto?id=@p.Id">
                <button>Editar</button>
            </a>
            <button onclick="alert('Eliminar')">Eliminar</button>
            <button onclick="alert('Agregar')">Agregar</button>
        </div>
    </div>
}

</div>

<script>
function editar() {
    alert("Editar producto");
}

function eliminar() {
    alert("Producto eliminado");
}

function agregar() {
    alert("Producto agregado");
}
</script>



</div> <!-- cierre de contenedor -->

<!-- CAMARA -->
<div class="camara">
       <a href="/Home/EscaneoCodigo">
    <img src="~/images/camara.png" />
    </a> 
</div>

<!-- LOGO CENTRO ABAJO -->
<div class="logo-centro">
    <img src="~/images/logoCDNsis.png" />
</div>

<!-- LOGO DERECHA -->
<div class="logo-derecha">
    <img src="~/images/logoMM.png" />
</div>

