@{
    ViewData["Title"] = "Escaneo Codigo";
}

<link rel="stylesheet" href="~/css/escaneo.css" />

<!-- BOTON VOLVER -->
<a href="/Home/Inventario1" class="volver">⬅</a>

<h1 class="titulo">ESCANEO CÓDIGO PRODUCTO</h1>

<div class="contenedor-escaneo">

    <!-- MENSAJE -->
    <p class="mensaje">
        Por favor, apunte la cámara al código de la prenda
    </p>

    <!-- CAMARA -->
   <div class="camara-grande">
    <a href="/Home/Inventario2">
        <img src="~/images/camara.png" style="cursor:pointer;" />
    </a>
</div>

    <!-- RESULTADOS 1-->
    <p class="resultado1 ok">Producto encontrado ✅</p>
    <p class="resultado1 error">Producto no encontrado, intente nuevamnene ❌</p>

    <!-- INGRESO MANUAL -->
    <div class="manual">
        <input type="text" placeholder="Ingresar código manual" />
        <button>Buscar 🔎</button>
    </div>

    <!-- RESULTADOS 2-->
    <p class="resultado2 ok">Código registrado exitosamente ✅</p>
    <p class="resultado2 error">Código no registrado, intente nuevamente ❌</p>

</div>

<!-- LOGOS -->
<div class="logo-centro">
    <img src="~/images/logoCDNsis.png" />
</div>

<div class="logo-derecha">
    <img src="~/images/logoMM.png" />
</div>
