@{
    ViewData["Title"] = "Inventario1";
}

<link rel="stylesheet" href="~/css/inventario1.css" />

<h1 class="titulo">GESTIÓN INVENTARIO 1- Admin</h1>


<div class="contenedor">

    <div class="producto">
    <a href="/Home/Categoria?tipo=Remeras">
        <img src="~/images/remeragris.jpeg" />
    </a>
</div>

<div class="producto">
    <a href="/Home/Categoria?tipo=Abrigos">
        <img src="~/images/sweaterAzul.png" />
    </a>
</div>

<div class="producto">
    <a href="/Home/Categoria?tipo=Pantalones">
        <img src="~/images/pantalonBaggy.png" />
    </a>
</div>

<div class="producto">
    <a href="/Home/Categoria?tipo=Cortos">
        <img src="~/images/shortDeportivo.jpg" />
    </a>
</div>


<div class="producto">
    <a href="/Home/Categoria?tipo=Accesorios">
        <img src="~/images/riñoneras.png" />
    </a>
</div>
     
</div> <!-- cierre de contenedor -->

<!-- LOGO CENTRO ABAJO -->
<div class="logo-centro">
    <img src="~/images/logoCDNsis.png" />
</div>

<!-- LOGO DERECHA -->
<div class="logo-derecha">
    <img src="~/images/logoMM.png" />
</div>

<!-- VOLVER -->
<a href="/Home/Index" class="btn-volver">⬅</a>



