@{
    ViewData["Title"] = "Inventario1";
}

<link rel="stylesheet" href="~/css/inventario1.css" />

<h1 class="titulo">GESTIÓN INVENTARIO 1- Admin</h1>

<div class="categorias">
    <button>REMERAS</button>
    <button>ABRIGOS</button>
    <button>PANTALONES</button>
    <button>BERMUDAS</button>
    <button>ACCESORIOS</button>
</div>

<div class="contenedor">

    <div class="producto">
        <img src="~/images/remeragris.jpeg" />
        <p>Stock: 10</p>
        <p>Precio: $5000</p>

        <div class="acciones">
            <button>Editar</button>
            <button>Eliminar</button>
            <button>Agregar</button>
        </div>
    </div>

    <div class="producto">
        <img src="~/images/remerablanca.jpeg" />
        <p>Stock: 5</p>
        <p>Precio: $6000</p>

        <div class="acciones">
            <button>Editar</button>
            <button>Eliminar</button>
            <button>Agregar</button>
        </div>
    </div>

    <div class="producto">
        <img src="~/images/remeraazul.jpeg" />
        <p>Stock: 2</p>
        <p>Precio: $8000</p>

        <div class="acciones">
            <button>Editar</button>
            <button>Eliminar</button>
            <button>Agregar</button>
        </div>
    </div>

     
</div> <!-- cierre de contenedor -->

<!-- LOGO CENTRO ABAJO -->
<div class="logo-centro">
    <img src="~/images/logoCDNsis.png" />
</div>

<!-- LOGO DERECHA -->
<div class="logo-derecha">
    <img src="~/images/logoMM.png" />
</div>

<!-- CAMARA -->
<div class="camara">
       <a href="/Home/EscaneoCodigo">
    <img src="~/images/camara.png" />
</div>



