
body {
    background: rgba(216, 193, 193, 0.91);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* TITULO */
.titulo {
    text-align: center;
    font-size: 42px;
    margin-top: 25px;

    font-family: "Trebuchet MS", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;

    color: #2d2d2d;
}

.btn-volver {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #9B6C05;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.2s;
}

.btn-volver:hover {
    background: #7a5304;
    transform: scale(1.1);
}

/* CONTENEDOR */
.contenedor-escaneo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

/* MENSAJE */
.mensaje {
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    color: #374151;
}

/* CAMARA */
.camara-grande img{
    width:220px;

    background:#d8caca;

    border-radius:50%;

    padding:20px;

    box-shadow:
        0 15px 35px rgba(0,0,0,.15);

    transition:.3s;
}

.camara-grande img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

/* RESULTADOS 1 */
.resultado1 {
    font-size:22px;
    font-weight:700;
    color:#111827;
}

.ok1 {
    color: green;
}

.error1 {
    color: red;
}

/* INPUT MANUAL */
.manual{
    background:white;

    padding:25px;

    border:none;

    border-radius:20px;

    display:flex;

    gap:12px;

    box-shadow:
        0 10px 25px rgba(0,0,0,.12);
}

.manual input{
    padding:14px;

    font-size:18px;

    border:none;

    border-radius:12px;

    background:#f5f5f5;

    box-shadow:
        inset 0 2px 4px rgba(0,0,0,.08);
}

.manual button{
    background:#9B6C05;

    color:white;

    padding:14px 20px;

    border:none;

    border-radius:12px;

    font-size:16px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;
}

.manual button:hover{
    transform:translateY(-2px);

    box-shadow:
        0 8px 20px rgba(0,0,0,.15);
}

/* RESULTADOS 2 */
.resultado2 {
    font-size:22px;
    font-weight:700;
    color:#111827;
}

.ok2 {
    color: green;
}

.error2 {
    color: red;
}


.scanner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.laser {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 3px;
    background: red;
    animation: scan 1.2s infinite linear;
    box-shadow: 0 0 10px red;
}

@keyframes scan {
    0% { transform: translateY(-200px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(200px); }
}

/* FLASH OK */
.flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 80px;
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 9999;
}

.flash.ok {
    background: rgba(0,255,0,0.3);
    color: white;
}

.flash.error {
    background: rgba(255,0,0,0.3);
    color: white;
}

/* LOGO CENTRO ABAJO */
.logo-centro {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo-centro img {
    width: 200px;
}

/* LOGO ESQUINA DERECHA */
.logo-derecha {
    position: fixed;
    bottom: 700px;
    right: 10px;
}

.logo-derecha img {
    width: 98px;
}


.navbar {
    display: none;
}