body {
    background: rgba(216, 193, 193, 0.91);
    font-family: Arial;
    margin: 0;
}

/* TITULO */
.titulo {
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-family: cursive;
}

/* CONTENEDOR PRINCIPAL */
.contenedor-inv2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    padding: 40px;
    align-items: start;
}

/* IMAGEN PRODUCTO */
.producto-img {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
}

.producto-img img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    border: 2px solid black;
}

/* PROMO */
.promo {
    grid-column: 2;
    grid-row: 1;
    background: #d8caca;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.promo h2 {
    text-align: center;
}

/* DROPDOWN */
.dropdown select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid black;
    cursor: pointer;
}

/* BOTON */
.btn-aplicar {
    padding: 12px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

/* INFO IZQUIERDA */
.resultado1 {
    grid-column: 1;
    grid-row: 2;
    background: #d8caca;
    padding: 20px;
    border: 2px solid black;
}

/* INFO DERECHA */
.resultado2 {
    grid-column: 2;
    grid-row: 2;
    background: #d8caca;
    padding: 20px;
    border: 2px solid black;
}

.precio-final {
    font-size: 22px;
    font-weight: bold;
}

/* BOTON VOLVER */
.btn-volver {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #9B6C05;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.2s;
}

.btn-volver:hover {
    background: #7a5304;
    transform: scale(1.1);
}

/* LOGO CENTRO */
.logo-centro {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo-centro img {
    width: 180px;
}

/* LOGO ESQUINA DERECHA */
.logo-derecha {
    position: fixed;
    bottom: 700px;
    right: 10px;
}

.logo-derecha img {
    width: 90px;
}

.navbar {
    display: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .contenedor-inv2 {
        grid-template-columns: 1fr;
    }

    .producto-img,
    .promo,
    .resultado1,
    .resultado2 {
        grid-column: 1;
    }

    .producto-img img {
        max-width: 90%;
    }
}