body {
    background: rgba(205, 183, 183, 0.91);
    font-family: Arial;
    margin: 0;
}

/* TITULO */
.titulo {
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    margin: 20px;
    
}

.producto img {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.producto img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

/* CONTENEDOR */
.contenedor {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* CARD PRODUCTO */
.producto {
    background: #d8caca;
    border: 2px solid black;
    padding: 20px;
    width: 350px;
    text-align: center;
}

/* IMAGEN */
.producto img {
    width: 100%;
    height: 260px;
    object-fit: contain;
}

/* CELULAR */
@media (max-width: 600px) {
    .producto img {
        height: 180px;
    }
}

/* BOTONES */
.acciones button {
    margin: 5px;
    padding: 10px;
    background: #0a0a0a;
    border: none;
    cursor: pointer;
    color: aliceblue;
}
/* LOGO CENTRO ABAJO */
.logo-centro {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo-centro img {
    width: 200px;
}

/* LOGO ESQUINA DERECHA */
.logo-derecha {
    position: fixed;
    bottom: 700px;
    right: 10px;
}

.logo-derecha img {
    width: 98px;
}

/* CAMARA */
.camara {
    position: fixed; /* queda fija en pantalla */
    right: 90px;     /* separación del borde derecho */
    top: 50%;        /* mitad de pantalla */
    transform: translateY(-50%); /* centra verticalmente */
}

.camara img {
    width: 80px;
    background: #d8caca;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.btn-volver {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #9B6C05;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.2s;
}

.btn-volver:hover {
    background: #7a5304;
    transform: scale(1.1);
}


.navbar {
    display: none;
}